<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="styles/style.css">
    
    <!-- FONT AWESOME LINK -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="JS/script.js" defer></script>

</head>

<body>
    <nav>
        <h1 class="head">Todo List</h1>
        <ul class="navItems">
            <li class="navItem"><a href="/today">Today</a></li>
            <li class="navItem"><a href="/work">Work</a></li>
    
        </ul>
    </nav>
